.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1c1c1c; /* Color de fondo del header */
  min-height: 100vh; /* Altura mínima */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Roboto', sans-serif; /* Fuente */
  margin: 0; /* Sin margen */
  padding: 0; /* Sin padding */
  background-color: #b6b0b0; /* Color de fondo claro */
}

a {
  text-decoration: none; /* Sin subrayado */
  color: inherit; /* Color heredado */
}

footer {
  background-color: #1c1c1c; /* Color de fondo oscuro */
  color: #ffffff; /* Color de texto blanco */
  padding: 10px; /* Ajustar el espaciado superior e inferior */
  text-align: center; /* Centrar el texto */
}

footer p {
  margin: 10px 0; /* Ajusta según sea necesario */
}


.footer-copy {
  font-size: 0.9rem; /* Tamaño de fuente para el copyright */
  margin-top: 20px; /* Margen superior */
}
