.App {
  text-align: center; /* Centrar texto */
}

.App-logo {
  height: 40vmin; /* Altura proporcional */
  pointer-events: none; /* Desactivar interacciones */
  margin-bottom: 20px; /* Espacio debajo del logo */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Animación del logo */
  }
}

.App-header {
  background-color: #1c1c1c; /* Color de fondo del header */
  min-height: 100vh; /* Altura mínima */
  display: flex; /* Flexbox para centrar contenido */
  flex-direction: column;
  align-items: center; /* Alinear elementos al centro */
  justify-content: center; /* Justificar contenido al centro */
  font-size: calc(10px + 2vmin); /* Tamaño de fuente adaptable */
  color: white; /* Color de texto blanco */
  padding: 20px; /* Espaciado adicional */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
}

.App-link {
  color: #61dafb; /* Color de los enlaces */
  transition: color 0.3s ease; /* Transición suave */
}

.App-link:hover {
  color: #ffd700; /* Cambiar color al pasar el ratón */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); /* Rotación inicial */
  }
  to {
    transform: rotate(360deg); /* Rotación final */
  }
}

body {
  font-family: 'Roboto', sans-serif; /* Fuente */
  margin: 0; /* Sin margen */
  padding: 0; /* Sin padding */
  background-color: #b6b0b0; /* Color de fondo claro */
  color: #333; /* Color de texto por defecto */
}

a {
  text-decoration: none; /* Sin subrayado */
  color: inherit; /* Color heredado */
}

footer {
  background-color: #1c1c1c; /* Color de fondo oscuro */
  color: #ffffff; /* Color de texto blanco */
  padding: 20px; /* Ajustar el espaciado superior e inferior */
  text-align: center; /* Centrar el texto */
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
}

footer p {
  margin: 10px 0; /* Ajusta según sea necesario */
  font-size: 0.9rem; /* Tamaño de fuente para los párrafos */
}

.footer-copy {
  font-size: 0.9rem; /* Tamaño de fuente para el copyright */
  margin-top: 20px; /* Margen superior */
}
