.footer {
  background-color: #1c1c1c; 
  color: #ffffff; 
  padding: 15px 0; 
  text-align: center; 
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.3); 
  font-family: 'Lora', serif; /* Aplicar la fuente elegante */
}

.footer-title {
  color:#F2CE16; /* Color dorado para los títulos */
  text-transform: uppercase; /* Texto en mayúsculas para un aspecto más elegante */
  font-family: 'Lora', serif; 
}

.footer-text {
  color: rgba(255, 255, 255, 0.86); /* Color blanco con opacidad */
  font-family: 'Lora', serif; /* Aplicar la fuente elegante */
  text-align: left;
}

.footer-links {
  list-style: none; /* Sin puntos en la lista */
  padding: 0; /* Sin padding */
  margin: 10px 0; /* Margen superior e inferior */
  font-family: 'Lora', serif; 
  color: rgba(255, 255, 255, 0.86);
}

.footer-link {
  color: rgba(255, 255, 255, 0.86);
  text-decoration: none; /* Sin subrayado */
  font-size: 0.95rem; /* Tamaño de fuente para enlaces */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición suave */
  font-family: 'Lora', serif; 
}

.footer-link:hover {
  color: #ffd700; /* Color dorado al pasar el mouse */
  transform: scale(1.5); /* Aumentar el tamaño al pasar el mouse */
}

.social-icons {
  display: flex; /* Usar flexbox para los iconos */
  justify-content: center; /* Centrar los iconos */
  gap: 20px; /* Espaciado entre iconos */
  margin-top: 20px; /* Margen superior */
}

.social-icon {
  cursor: pointer; /* Cambiar el cursor a pointer */
  transition: transform 0.3s; /* Transición para el efecto de escala */
}

.social-icon:hover {
  transform: scale(1.2); /* Aumentar el tamaño al pasar el mouse */
}

.footer-copy {
  font-size: 0.9rem; /* Tamaño de fuente para el copyright */
  margin-top: 20px; /* Margen superior */
  color: rgba(255, 255, 255, 0.8); /* Color blanco con opacidad para un efecto más sutil */
  font-family: 'Lora', serif; /* Aplicar la fuente elegante */
}
