.header {
    background-color: #1c1c1c; 
    color: #ffffff; 
    text-align: center; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}

.logo {
    height: 135px; 
}

.nav-menu {
    display: flex;
    justify-content: center; 
}

.nav-menu ul {
    display: flex;
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.nav-menu a {
    color: white; 
    padding: 12px 20px; 
    border-radius: 8px; 
    text-transform: uppercase; 
    font-weight: 500; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin: 0 5px; 
    font-size: large;
}

.nav-menu a:hover {
    background-color:#F2CE16; 
    color: #000000; 
    transform: scale(1.10); 
}
