.nav {
  background-color: #1c1c1c; 
  color: #ffffff; 
  text-align: center; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.nav .MuiList-root {
  padding: 0; /* Sin padding para la lista */
  display:flex; /* Para que los elementos estén en fila */
  justify-content: center; /* Centra los elementos en el contenedor */
  margin: 1.5px; /* Sin margen para la lista */
}

.nav .MuiListItem-root {
  padding: 5px 5px; /* Padding para los elementos de la lista */
}

.nav a {
  text-align: center;
  color: white; 
  padding: 12px 20px; 
  border-radius: 8px; 
  font-weight: bold; /* Cambiado a 'bold' para aplicar negrita */
  transition: background-color 0.3s ease, transform 0.3s ease; 
  margin: 0 5px; 
  font-size: x-large; /* Manteniendo tamaño de fuente grande */
}


.nav a:hover {
  background-color: #F2CE16 !important; 
  color: #1f1f1f !important; 
  transform: scale(1.10) !important; 
}



